
/**
 * @author Aman Tairo.
 * @package Blurred Console
 * @version 0.0.1
 */

*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blurred-info: #1fb3ed;
    --blurred-white: #f8f6ff;
    --blurred-black: #020812;
    --blurred-fifia: #140b46b6;
    --blurred-giza: #1b1a29;
    --blurred-jivu: #87959d;
    --blurred-aqua: #41cfef;
    --blurred-red: #e50000;

    --blurred-fontone: 'Sugo Pro Classic Trial', sans-serif;
    --blurred-fonttwo: 'Open Sans', sans-serif;
    --blurred-fontlg: 62px;
    --blurred-fontmd: 26px;
    --blurred-fontsm: 14px;
    --blurred-fontxs: 8px;

    --blurred-lgscreen: 1280px;
    --blurred-mdscreen: 976px;
    --blurred-smscreen: 762px;
    --blurred-xsscreen: 486px;
}

html, body {
    height: 100%;
    background-color: rgb(3, 8, 18) !important;
}
div {
    display: block;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    text-decoration: none !important;
}
a:-webkit-any-link {
    cursor: -webkit-grabbing;
}
img {
    vertical-align: middle;
    border-style: none;
}

.blurred-sticker {
    width: 100%;
    height: 100%;
}
.blurred-aside {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: var(--blurred-fifia);
    transition: left 1s;
}

.blurred-aside, .container-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.container-avatar {
    padding: 0;
}
.blurred-avatar {
    width: 120px;
    height: 118px;
    border-radius: 50%;
    border: 5px solid #1fb3ed;
    margin-bottom: 20px;
}
.aside-title {
    font-family: var(--blurred-fonttwo);
    font-size: medium;
    font-weight: 500;
    color: var(--blurred-white);
    margin-bottom: 20px;
}
.blurred-btn-social {
    padding: 10px 12px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: var(--blurred-giza);
    color: var(--blurred-white);
    font-size: var(--blurred-fontsm);
    transition: background-color .5s; 
}
.blurred-btn-social:hover {
    background-color: var(--blurred-info);
}
.bi-twitter::before {
    content: "\f5ef";
}
.bi-linkedin::before {
    content: "\f472";
}
.bi-instagram::before {
    content: "\f437";
}
.bi-youtube::before {
    content: "\f437";
}

/** css in regex **/
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before { 
    display: inline-block;
    font-display: block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.aside-main, .blurred-menubox {
    width: 100%;
    margin: 20px 0;
}

.blurred-menubox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}
.blurred-menuitem {
    margin: 13px 0;
}

.blurred-btn-menuitem {
 transition: color .5s;
 color: var(--blurred-jivu);
 font-size: var(--blurred-fontsm);
 font-weight: 400;
}
.blurred-btn-menuitem:hover {
    color: var(--blurred-white);
}
.blurred-btn-menuitem:focus {
    color: var(--blurred-white);
}
.blurred-btn-menuitem:hover i {
    color: var(--blurred-info);
}
.blurred-btn-menuitem:focus i {
    color: var(--blurred-info);
}
.nav-label {
    display: inline;
    margin-left: 5px;
}
.nav-label:hover {
    color: var(--blurred-info);
}
.nav-label:focus {
    color: #e50000;
}
.blurred-master {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: blurredbounce;
    animation-duration: 1600ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    visibility: visible;
}
.blurred-master-info {
    font-family: var(--blurred-fonttwo);
    font-size: var(--blurred-fontsm);
    font-weight: 400;
    color: var(--blurred-info);
}
.blurred-master time {
    animation: none !important;
}
.blurred-time {
    color: var(--blurred-white) !important;
    font-weight: bolder;
    font-size: larger;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 3;
}
.container-main {
    width: 100%;
    height: 100%;
    background: url(images/backg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.blurred-filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.253);
    position: absolute;
    z-index: 2;
}

.blurred-title, .blurred-msg  {
    font-size: var(--blurred-fontlg);
    font-family: var(--blurred-fontone);
    color: var(--blurred-aqua);
    position: relative;
    z-index: 4;
    margin-left: 30vw;
    text-shadow: 3px left salmon;
}
.blurred-b{
    font-family: inherit;
    color: var(--blurred-white);
}
.blurred-c {
    font-family: inherit;
    color: var(--blurred-red);
}
.blurred-msg {
    font-family: var(--blurred-fonttwo);
    font-size: var(--blurred-fontmd);
    font-weight: 440;
    color: var(--blurred-white);

}
.blurred-msg span {
    border-bottom: 3px solid var(--blurred-info);
}
.blurred-display {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
    border: none;
    font-family: var(--blurred-fonttwo);
    font-size: var(--blurred-fontmd);
    background-color: var(--blurred-info);
    color: var(--blurred-white);
    cursor: pointer;
}
.displayMenu {
    left: 0 !important;
}
.displayMenuDown {
    left: 0 !important;
}
.blurred-field{
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 2%;
    margin-left: 3%;
    border: none;
    display: block;
    width: 60%;
    
}
.blurred-field h6 {
    float: inherit;
    border-bottom: 2px solid var(--blurred-aqua);
}

.blurred-field ul li,  .blurred-field ul li a{
    text-decoration: none;
    border: none;
    display: flex;
    color: inherit;
    padding-left: 5px;
    /*
    flex-direction: r;
    align-items: flex-start;*/

}
.blurred-fieldlist {
    display: unset;

}
.blurred-card-title {
    align-items: center;
    text-align: center;
} 
.blurred-card {
    animation-name: blurredmation;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    visibility: visible;
    background: linear-gradient(to left, #8215a087 34%, #140b46b6 64%);
    width: 70%;
    height: 90%;
    margin-left: 25%;
    z-index: 4;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px 2px #0a071bb6;
}
.blurred-card:hover {
    background: linear-gradient(to left, #8215a0af 34%, #140b46c5 64%);
    box-shadow: 0px 1px 9px 2px #5fdaff98;
    transition: box-shadow 0.5s;
    transition: top 0.6s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.blurred-content {
    width: 100%;
    
    height: inherit;
    padding: 8px;
    color: var(--blurred-white);
    text-align: center;
}
.blurred-content info {
    text-align: center;
    text-shadow: -3px 4px 8px #1fb3ed;
}
.my-card {
    margin-left: 30% !important;
    z-index: 4;
    background-color: #253042 !important;
}
.img-circle {
    border-radius: 50%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.blurred-menu {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
    border: none;
    font-family: var(--blurred-fonttwo);
    font-size: var(--blurred-fontmd);
    background-color: var(--blurred-info);
    color: var(--blurred-white);
    cursor: pointer;
}

.blurred-input-group [required] {
    width: 65%;
    padding: 7px;
    background: none;
    color: var(--blurred-white);
    border: none;
    border-bottom: 2px solid var(--blurred-aqua);
    border-radius: 1px 5px 70px 1px;
    
    text-align: center;
}

.blurred-vib {
    box-shadow: -1px 1px aliceblue;
}

@media screen and (max-width: 1200px) {
    .blurred-aside {
        left: -500px;
    }
    
    .blurred-display {
        display: block;
    }

    .blurred-title .blurred-msg {
        margin-left: 10vw;
    }

    .blurred-aside {
        width: inherit;
    }
}

@media screen and (max-width: 768px) {
    .blurred-title{
        font-size: 28px;
    }

    .my-card {
        margin-left: 30% !important;
    }
    .team {
        margin-left: 28% !important;
    }
    .team-card {    
        height: 42% !important;
        width: 42% !important;
    }
    .team-card-top {
        width: 100% !important;
        height: 62% !important;
    }
    .team-card:hover {
        height: 100px;
    }
    .team-card:hover .team-card-image {
        border: 1px solid var(--blurred-aqua) !important;
      }
    .team-card-name {
        font-size: 11px !important;
    }
    .team-card-position {
        color: var(--blurred-red) !important;
    }
    .blurred-aside {
        width: 20%;
        max-width: 25%;
        min-width: 25%;
    }
    .blurred-menubox {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10%;
    }
    .blurred-menuitem {
        margin: 7px 0;
    }
    .blurred-btn-menuitem {
        font-size: 10px !important;
    }
    .blurred-master-info {
        font-family: var(--blurred-fonttwo);
        font-size: 7px !important;
        font-weight: 400;
        color: var(--blurred-info);
    }
    .col-sm-6, .col-12 {
        flex: 0 0 auto !important;
        width: 50% !important;
        font-size: 9px !important;
    }
    .aside-title {
        font-size: 9px !important;
    }

    .blurred-avatar {
        width: 50%;
        height: auto;
        border: 2px solid #1fb3ed;
    }
}

@media screen and (max-width: 520px) {
    .aside-main, .blurred-menubox {
        width: 100%;
        margin: 20px 0;
    }
    .paragraph {
        font-size: 8px !important;
    }
    .blurred-btn-social {
        size: 6%;
        padding: 1px 2px;
        margin: 0 1px;
    }
    .container-main {
        background-image: cover;
    }
    .blurred-menubox {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15%;
    }
    .blurred-menuitem {
        margin: 6% 0;
    }
    
    .blurred-btn-menuitem {
     transition: color .5s;
     color: var(--blurred-jivu);
     font-size: var(--blurred-fontsm);
     font-weight: 400;
    }
}
@media screen and (max-height: 520px) {
    .aside-main, .blurred-menubox {
        width: 100%;
        margin: 20px 0;
    }
    .container-main {
        background-image: cover;
    }
    .blurred-menubox {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15%;
    }
    .blurred-menuitem {
        margin: 6% 0;
    }
    
    .blurred-btn-menuitem {
     transition: color .5s;
     color: var(--blurred-jivu);
     font-size: var(--blurred-fontsm);
     font-weight: 400;
    }
}

@keyframes blurredmation {
    0% {
        transform: none;
      }
    
      15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      }
    
      30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      }
    
      45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      }
    
      60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      }
    
      75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      }
    
      100% {
        transform: none;
      }
}
@keyframes blurredbounce {
    0% {
        transform: none;
    }
    10% {
        transform: rotateZ(36deg);
        transform: rotateY(36deg);
    }
    20% {   
        transform: rotateZ(72deg);
        transform: rotateY(72deg);
    }
    30% {
        transform: rotateZ(108deg);
        transform: rotateY(108deg);
    }
    40% {
        transform: rotateZ(144deg);
        transform: rotateY(144deg);
    }
    50% {
        transform: rotateZ(180deg);
        transform: rotateY(180deg);
    }
    60% {
        transform: rotateZ(216deg);
        transform: rotateY(216deg);
    }
    70% {
        transform: rotateZ(252deg);
        transform: rotateY(252deg);
    }
    80% {
        transform: rotateZ(288deg);
        transform: rotateY(288deg);
    }
    90% {   
        transform: rotateZ(324deg);
        transform: rotateY(324deg);
    }
    100% {
        transform: rotateZ(360deg);
        transform: rotateY(360deg);
    }
    
}










.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 4;
    margin-left: 32%;
  }
  .team-card {
    position: relative;
    height: 130px;
    width: 130px;
    border-radius: 30px;
    background: linear-gradient(45deg, #72236c 0%, #66a2e7 100%);
    transition: 0.3s ease-out;
    overflow: hidden;
    box-shadow: #11111a1a 0px 0px 16px;
  }
  .team-card:hover {
    height: 200px;
  }
  .team-card-top {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    transition: 0.3s ease-out;
    border: 7px solid transparent;
  }
  .team-card:hover .team-card-image {
    border: 7px solid var(--blurred-aqua);
  }
  .team-card-image img {
    transition: 0.3s ease-out;
    height: 100%; /*if the image is rectangular use height: 100%;*/
    /*if the image is square replace height: 100%; by width: 100%;*/
  }
  .team-card:hover img {
    height: 110%;
  }
  .team-card-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #0d0923;
    position: absolute;
    bottom: -80px;
    opacity: 0;
    transition: 0.3s ease-out;
  }
  .team-card:hover .team-card-bottom {
    bottom: 0;
    opacity: 1;
  }
  .team-card-name {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-bottom: 5px;
    color: #5fdaff;
  }
  .team-card-position {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #5fdaff;
  }